<app-header [nombre]="pagina"></app-header>
<mat-tab-group>
    <mat-tab label="Biografía">
        <div m-35 fxLayout="column" fxLayoutAlign="center" fxLayoutGap="50px">
            <section>
                <p>Servicentro es una banda de rock Chileno originaria de Santiago desde agosto 2011. Fue fundada en 2011 en Santiago por Coni (Constanza Castro) y Edo (Eduardo Rigall), a los que se les unirían Dani Pozo (Daniela Pozo), Rafa Cereceda (Rafael Cereceda) y Kiko Recart (Francisco Recart). Kiko Recart fue después sustituido por el guitarrista Mauro Pinto Basso (Mauricio Pinto Basso).</p>
                <p>A la fecha, la banda ha editado 1 álbum de estudio, "Kilómetro 1", el cual fue lanzado el 1 de mayo del 2017.</p>
                <p>Coni y Edo se conocieron durante los años 90 en el coro de la iglesia. Muchos años después, a finales del 2010, se reencuentran en un contexto similar, ella como profesora de música y directora coral y el cómo músico invitado. A poco andar deciden experimentar con otros sonidos, Coni propone hacer una banda de rock y Edo pone sobre la mesa un antiguo proyecto que tiene bien guardado. Así comienza a fraguarse Servicentro. En agosto del 2011, para el primer ensayo de la banda se recluta a Rafael Cereceda como baterista, Daniela Pozo en coros y a Kico Recart en la primera guitarra, formación que se mantiene hasta principios del 2016, cuando Kico es relevado por Mauro Pinto, con quién graban su primer y único disco a la fecha.</p>
                <p>Durante el año 2014 fueron invitados a tocar al festival Hallel Franca celebrado durante Septiembre en Franca, Brasil1​. Así mismo fueron invitados a tocar en el Festival Hallel Temuco celebrado en diciembre del mismo año en la ciudad de Temuco, Chile. También durante 2015 fueron invitados a participar a encuentros de jóvenes.</p>​
                <p>El 16 de Enero del 2018 y compartieron escenario junto con otros artistas como Américo, Gloria Simonetti, Yamna Lobos y Juan Pablo Queraltó en el Frontis del Santuario del Padre Hurtado para la visita del Papa Francisco a Chile.</p>
            </section>
        </div>
    </mat-tab>
    <mat-tab label="Miembros">
        <div m-35 fxLayout="column" fxLayoutAlign="center" fxLayoutGap="50px">
            <section>
                <p>Eduardo Rigall: Es el líder y compositor de la banda, bajista, vocalista y un gran músico autodidacta.  Es publicista y conoció a Coni cantando en misa.</p>
                <p>Coni Castro: Es la vocalista y guitarrista rítmica de la banda. Es profesora de música, le gusta el grunge y conoció a Dani en Schoenstatt, donde eran hermanas de grupo.</p>
                <p>Dani Pozo: Es la tecladista y encargada de las segundas voces de la banda. Es ingeniero civil y conoció a Rafa en la Universidad, donde estudiaban la misma carrera, además de cantar juntos en coros de misa.</p>
                <p>Rafa Cereceda: Es el baterista de la banda. Es ingeniero civil, le gusta el rock progresivo y conoció a Mauro en un festival de música católica.</p>
                <p>Mauricio Pinto Basso: Es el guitarrista principal de la banda. Es profesor de música y tiene influencias musicales de The Beatles y Eric Clapton.</p>
                <p>Sebastián Viu: llenar bio seba</p>
            </section>
        </div>
    </mat-tab>
</mat-tab-group>
