<div album>
    <div tema>
        <div titulo>
            <h4 class="panel-title">Construyamos Esperanza</h4>
        </div>
        <div letra>
            <p class="text-center">
                En esta tierra lejana de contrastes y color
                <br>Desde el norte gritan fuerte y en el sur alguien oyó
                <br>Que por la cordillera
                <br>Viene un rió que en el mar todos esperan
            </p>
            <p class="text-center">
                Dicen que sus aguas claras pueden limpiar
                <br>Los rostros y las manos de los que buscan la paz
            </p>
            <p class="text-center">
                Construyamos Esperanza en la unión y en la razón
                <br>Vamos a buscar la fraternidad solo abre el corazón
                <br>Lo que Cristo nos enseña sin color ni distinción
                <br>Es el amor
            </p>
            <p class="text-center">
                Bienvenido Francisco
                <br>Bienvenido Francisco
            </p>
            <p class="text-center">
                Viene el tiempo en que todos nos prestemos atención
                <br>Y miremos hacia el lado acogiendo sin rencor
                <br>Abriendo las puertas
                <br>A un mundo en que el amor todo lo espera
            </p>
            <p class="text-center">
                Y si trabajamos juntos puede pasar
                <br>Que sanemos las heridas y vivamos en la paz
            </p>
            <p class="text-center">
                Construyamos esperanza en la unión y en la razón
                <br>Vamos a buscar la fraternidad solo abre el corazón
                <br>Lo que Cristo nos enseña sin color ni distinción
            </p>
            <p class="text-center">
                Es el amor
                <br>Es el amor
            </p>
            <p class="text-center">
                Bienvenido Francisco
                <br>Bienvenido Francisco
            </p>
            <p class="text-center">
                (Bienvenido Francisco)
                <br>Te estamos esperando para escuchar
                <br>(Bienvenido Francisco)
                <br>Tus palabras son agua que puede lavar
                <br>(Bienvenido Francisco)
                <br>El rostro y las manos de aquellos que buscan la paz
            </p>
            <p class="text-center">
                (Bienvenido Francisco)
                <br>Bienvenido
                <br>Bienvenido
                <br>Bienvenido
            </p>
        </div>
    </div>
</div>