<div [class.dark-theme]='darkTheme' fxFlexFill>
    <ngx-json-ld [json]="schema"></ngx-json-ld>
    <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav fxLayout="column">
            <div fxLayout="column">
                <button mat-button (click)="sidenav.toggle()">Cerrar</button>
                <button mat-button routerLink='biografia'>Biografía</button>
                <button mat-button routerLink='albums'>Música</button>
                <button mat-button routerLink='media'>Media</button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <mat-toolbar-row class="mat-elevation-z24" style="z-index: 10;">
                    <div fxShow="true" fxHide.gt-sm="true">
                        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menú">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <button mat-button routerLink='/' class="titulo">
                        <span>Servi<span class="logo-rojo">c</span>entro</span>
                    </button>
                    <span fxFlex></span>
                    <div fxShow="true" fxHide.gt-sm="true">
                        <button mat-icon-button fxFlex="auto" (click)="darkTheme=!darkTheme">
                            <mat-icon>format_color_fill</mat-icon>
                        </button>
                    </div>
                    <div fxShow="true" fxHide.lt-md="true">
                        <button mat-button fxFlex="auto" routerLink='biografia'>Biografía</button>
                        <button mat-button fxFlex="auto" routerLink='albums'>Música</button>
                        <button mat-button fxFlex="auto" routerLink='media'>Media</button>
                        <button mat-icon-button fxFlex="auto" (click)="darkTheme=!darkTheme" matTooltip="Tema">
                            <mat-icon>format_color_fill</mat-icon>
                        </button>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <section>
                <router-outlet></router-outlet>
            </section>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>