mat-toolbar {
    background: linear-gradient(#1d465a, #1d5365, #597882, #7c8f90, #a29a8c) !important;
}

mat-sidenav-content {
    padding: 1rem !important;
}

.titulo {
    font-family: 'Magneto';
}

.p-1{
    padding: 1rem;
    /* margin: auto; */
    text-align: center;
}

.ruedita {
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    margin: 0 .2rem 0 .2rem;
}

.logo-rojo {
    color: rgb(var(--RojoServicentro));
}
